// rem -> better support for accessiblity
// 1rem = 16px
* {
    box-sizing: border-box; //removes the space it needs for the border
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvitica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}